.contact {
    width: 100%;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media (min-width: 1440px) {
    .contact {
        margin-top: 138px;
    }
}

.contact__title {
    color: #14279B;
    font-size: 35px;
    font-weight: 400;
    line-height: 52.5px;
    letter-spacing: 0.055em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media (min-width: 1440px) {
    .contact__title {
        font-size: 35px;
    }
}

.contact__title span {
    font-weight: 600;
}

.contact__items {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1440px) {
    .contact__items {
        flex-direction: row;
        gap: 60px;
    }
}

.contact__item {
    width: 240px;
    height: 236px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__item div {
    position: relative;
}

.contact__item_icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 33px;
    z-index: 1;
}

.contact__item_title {
    font-size: 35px;
    font-weight: 500;
    line-height: 52.5px;
    letter-spacing: 0.055em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3F3D56;
}