.footer {
    color: rgb(88, 88, 88);
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 37.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1440px) {
    .footer {
        font-size: 24px;
        margin-top: 90px;
        margin-bottom: 45px;
    }
}

