.footer {
    color: rgb(88, 88, 88);
    margin-top: 45px;
    font-size: 14px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.055em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

